<nav>
    <a href="/"><img src="/pics/tempgivemesteamdeals.png" alt="Give Me Steam Deals Logo"></a>

    <form action="/search" method="GET">
        <input type="text" name="query">
        <input type="submit" style="position: absolute; left: -9999px">
    </form>
</nav>
