<nav>
    <div id="navLogo">
        <a href="/"><img src="/pics/tempgivemesteamdeals.png" alt="Give Me Steam Deals Logo"></a>
    </div>

    <form action="/search" method="GET">
        <i class="fa fa-search searchIcon"></i>
        <input type="text" name="query" id="searchBar" placeholder="Search for games...">
        <input type="submit" style="position: absolute; left: -9999px">
    </form>
</nav>
