{{#each data}}
<div class="gameBox">
    <div class="title">
        <a href="/id/{{steam_id}}">{{title}}</a>
    </div>
    <div class="thumbnail"><img src={{thumbnail}} alt="App thumbnail"></div>
    <div class="price">
        {{> price}}
    </div>
</div>
{{/each}} 