<nav>
    <img src="/pics/tempgivemesteamdeals.png" alt="Give Me Steam Deals Logo">

    <form action="/search" method="GET">
        <input type="text" name="searchquery">
        <input type="submit" style="position: absolute; left: -9999px">
    </form>
</nav>
