<!DOCTYPE html>
<html>
    <head>
        <title>Understandable</title>
    </head>
    <body>
        {{> navBar}}
        <h1>404 - File delivery machine broke</h1>

        {{> footer}}
    </body>
</html>