<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        {{> defaultHead}}
    </head>
    <body>
        {{> navBar}}

        <div id="content">
            <div id="about">
                <h1>About</h1>

                <h2>Fetches</h2>
                <p>Data is fetched from <a href="http://www.cheapshark.com/">CheapShark</a>, <a href="https://steamspy.com/">SteamSpy</a>,
                and <a href="http://store.steampowered.com/">Steam</a> itself. Thanks to all of these!</p>

                <h2>GitHub</h2>
                <p>All source code can be found at <a href="https://github.com/Shybert/givemesteamdeals">GitHub</a>.</p>                
            </div>
        </div>

        {{> footer}}
    </body>
</html>