<!DOCTYPE html>
<html>
    <head>
        <title>givemesteamdeals</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    </head>
    <body>
        <img src="/pics/tempthumbnailsbackground.png" style="width: 80px; height: 80px;">
        <img src="/pics/tempgivemesteamdeals.png" style="width: 240px; height: 80px;" alt="Give Me Steam Deals Logo">

        {{> navBar}}

        <div id="content">
            <h2>Randomly selected deals!</h2>

            <div id="gameList">
                {{> priceBox}}
            </div>
        </div>

        {{> footer}}
    </body>
</html>