<!DOCTYPE html>
<html>
    <head>
        <title>givemesteamdeals</title>
    </head>
    <body>
        <img src="/pics/tempthumbnailsbackground.png" style="width: 80px; height: 80px;">
        <img src="/pics/tempgivemesteamdeals.png" style="width: 240px; height: 80px;" alt="Give Me Steam Deals Logo">
        <h1>TEMP: You have reached the homepage</h1>
        {{> navBar}}

        <h2>Randomly selected deals!</h2>

        {{> priceBox}}

        {{> footer}}
    </body>
</html>