<!DOCTYPE html>
<html>
    <head>
        <title>givemesteamdeals</title>
        {{> defaultHead}}
    </head>
    <body>
        <div id="indexTop">
            <img src="/pics/tempthumbnailsbackground.png" id="indexBackground">
            <img src="/pics/tempgivemesteamdeals.png" alt="Give Me Steam Deals Logo" id="indexLogo">            
        </div>

        {{> navBar}}

        <div id="content">
            <h1>Randomly selected deals!</h1>
            <ul id="gameList">
                {{> priceBox}}
            </ul>
        </div>

        {{> footer}}
    </body>
</html>