<!DOCTYPE html>
<html>
    <head>
        <title>givemesteamdeals</title>
        {{> defaultHead}}
    </head>
    <body>
        {{> navBar}}

        <div id="content">
            <h1>Randomly selected deals!</h1>
            <ul id="gameList">
                {{> priceBox}}
            </ul>
        </div>

        {{> footer}}
    </body>
</html>