<!DOCTYPE html>
<html>
    <head>
        <title>Search query: "{{searchQuery}}"</title>
        {{> defaultHead}}
    </head>
    <body>
        {{> navBar}}


        {{#if nothing}}
        <div class="searchError">{{nothing}}</div>
        {{/if}}
        <div id="content">
            <h1>Search query: "{{searchQuery}}"</h1>
            <ul id="gameList">
                {{> priceBox}} 
            </ul>
        </div>
        
        {{> footer}}
    </body>
</html>