<!DOCTYPE html>
<html>
    <head>
        <title>Search page</title>
    </head>
    <body>
        {{> navBar}}

        <h1>A search page</h1>
        {{#if nothing}}
        <div class="searchError">{{nothing}}</div>
        {{/if}}
        <div id="searchResults">
            {{> priceBox}}
        </div>
        
        {{> footer}}
    </body>
</html>